title{
    font-family: cursive;
}
#navHome{
    font-family: cursive;
}
#navGames{
    font-family: cursive;
}
#navCreate{
    font-family: cursive;
}
nav{
    border: solid;
    background-color: aliceblue;
    border-radius: 10em;
    text-align: center;
    margin-left: 28em;
    margin-right: 28em;
}
h1{
    font-family: Verdana;
    text-align: center;
}
h3{
    font-family: Verdana;
    text-align: center;
}
#content{
    align-items: center;
}
#List{
    font-family: Verdana;
    font-size: medium;
}
footer{
    font-family: cursive;
    border: solid;
    border-radius: 10em;
    background-color: aliceblue;
    text-align: center;
    margin-right: 29em;
    margin-left: 29em;
}