body{
    display: inline;
    background-color: #073b4c;
    color: white;
    text-align: center;
}

/* #homeHeader{
  align-self: center;
} */

#navbar{
  display: flex;
  list-style-type: none;
  justify-content:left;
  margin-bottom: 50px;
  margin-top: 10px;
  border: 1px solid white;
  border-radius: 5px;
} 

#navbar >li{
  font-size: 1rem;
  padding: 10px 10px;
}

#navbar > li:hover{
  background-color: white;
  color: #073b4c;
  border-radius: 5px;
}

/* Drag And Drop CSS */

#dragAndDropTitle {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 0px;
}
#dragAndDropSubheading {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}
.CraftTable {
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin: 20px;
    }
.container {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto;
}
.drop-targets, .create-drop-targets {
    width: 60%;    
}
.create-drop-targets {
    border-style: solid;
    display: inline-block;
    width: 60%;
    min-height: 200px;
    border-width: 1px;
    border-radius: 5px;
    vertical-align: text-top;
    padding: 10px;
}
.promptText {
    /* line-height: 1.4; */
    font-size: 16pt;
}
.box {
    border-style: solid;
    display: inline-block;
    width: 145px;
    height: 35px;
    border-color: rgb(127, 140, 165);
    border-width: 3px;
    border-radius: 5px;
    background-color: #B5D1B5;
    vertical-align: text-top;
}
.HideFont {
    font-size: 0px;
}
h3 {
    margin: 0px;
    padding: 10px;
}
#word-bank {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 30%;
    border-style: solid;
    border-color: rgb(83, 85, 90);
    border-width: 5px;
    border-radius: 15px;
    background-color: rgb(234, 241, 239);
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}
.item {
    width: 140px;
    height: 30px;
    background-color: rgb(217, 234, 235);
    border-style: solid;
    border-color: rgb(129, 194, 54);
    border-width: 3px;
    border-radius: 5px;
    text-align: center;
}
/* .hide {
    display: none;
} */
.wrong-answer {
    border: solid 3px rgb(58, 12, 12);
    background-color: rgb(100, 29, 29);
}
.drag-over {
    border: solid 3px rgb(194, 156, 31);
    background-color: rgb(168, 111, 73);
}



/* CROSSWORD CSS */

button{
    margin-bottom: 10px;
  }
  
  .info{
  text-align: center;
  }
  
  .wjec-crossword {
      background-color: black;
    }
  
    .wjec-crossword .crosswordDisplay {
      top: 5rem;
    }
    .wjec-crossword .clueBlock {
      position: relative;
      margin-bottom: 5em;
    }
    .wjec-crossword .clueDirection {
      text-align: left;
      margin: 1em 0 0.25em 122px;
      font-size: 1.5em;
      font-weight: bold;
      color: #000;
    }
    .wjec-crossword .word,
    .wjec-crossword .clue,
    .wjec-crossword .lineNum {
      display: inline-block;
      height: 1.4em;
      padding: 0 5px;
    }
    .wjec-crossword .word {
      text-align: right;
      width: 100px;
      margin: 0 20px 0 0;
    }
    .wjec-crossword .clue {
      width: 500px;
      margin: 0 0 4px 0;
    }
    .wjec-crossword .lineNum {
      font: 1em calibri;
      line-height: 1.8em;
    }
    .wjec-crossword .row .square {
      margin: 0 1px 1px 0;
      display: inline-block;
      position: relative;
      font: 24px Calibri;
      width: 1.25em;
      height: 1.25em;
      line-height: 1.25em;
      vertical-align: top;
    }
    @media only print {
      .wjec-crossword .row .square {
        background-color: #363b74 !important;
        margin: 0;
      }
    }
    .wjec-crossword .row .square input.char {
      font-family: sans-serif;
      font-size: 24px;
      text-transform: uppercase;
      outline: 0;
      border: 0;
      padding: 0;
      margin: 1px 0 0 -1px;
      width: 1.25em;
      height: 1.25em;
      text-align: center;
      background-color: #c8c8c8;
    }
    @media only print {
      .wjec-crossword .row .square input.char {
        background-color: #FCFFFD !important;
        border: 1px solid black;
      }
    }
    .wjec-crossword .row .square input.char:focus {
      box-shadow: 0 0 0 2px #0085b4;
    }
    .wjec-crossword .row .square .charReadOnly:focus {
      box-shadow: 0;
      border-color: rgba(0, 0, 0, 0);
      margin: 0;
      outline: 0;
      color: #303030;
    }
    .wjec-crossword .num {
      position: absolute;
      top: 0;
      /* left: 0; */
      text-align: left;
      color: #000000;
      font-size: 0.5em;
      line-height: 1em;
      pointer-events: none;
    }
    .wjec-crossword-clues .lineNum,
    .wjec-crossword-clues .clueDirection {
      font-weight: bold;
    }
    .wjec-crossword-clues .clueReadOnly {
      border-color: rgba(0, 0, 0, 0);
      margin: 0;
      outline: 0;
      color: #363b74;
      background: none;
    }
