* {
  user-select: none;
}



:root {
  
  --grid-cols: 1;
  --grid-rows: 1;
}

#container {
  margin: auto;
  border: solid;
  height: 600px;
  width: 600px;
  display: grid;
  background-color: lightgray;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8qtKcBJnoAijHS7hIHzJdOVghFTO_XyAKxLsUaga_ObDwcTyZSNOah9HxOFnFaDrJGCY&usqp=CAU
  );
  background-size: cover;
 
  
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);

}

.grid-item {
  padding: 1em;
  text-align: center;
}

.grid-item:hover{
  color: red;
}
